Lab5/src/main/resources/wsdl/JBossBankServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/JBossBankServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JBossBankServices" targetNamespace="http://www.example.org/JBossBankServices/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/JBossBankServices/">
      <xsd:element name="getAccountBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountID" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerAccountsResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="Accounts" type="tns:Accounts"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomerAccounts"
      	type="tns:getCustomerAccounts">
      </xsd:element>

      <xsd:complexType name="getCustomerAccounts">
      	<xsd:sequence>
      		<xsd:element name="customerID" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>   
            <xsd:complexType name="Account">
            	<xsd:sequence>
            		<xsd:element name="accountID" type="xsd:int"></xsd:element>
            		<xsd:element name="accountType" type="xsd:int"></xsd:element>
            		<xsd:element name="customerID" type="xsd:int"></xsd:element>
            		<xsd:element name="accountBalance" type="xsd:double"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getAccountBalanceResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="accountBalance" type="xsd:double"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
    
            <xsd:complexType name="Accounts">
            	<xsd:sequence ><xsd:element name="account" type="tns:Account" maxOccurs="unbounded" minOccurs="0"></xsd:element></xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerAccountsRequest">
    <wsdl:part element="tns:getCustomerAccounts" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getCustomerAccountsResponse">
    <wsdl:part element="tns:getCustomerAccountsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceRequest">
  	<wsdl:part name="parameters" element="tns:getAccountBalance"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountBalanceResponse">
  	<wsdl:part name="parameters" element="tns:getAccountBalanceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="JBossBankServices">
    <wsdl:operation name="getCustomerAccounts">
      <wsdl:input message="tns:getCustomerAccountsRequest"/>
      <wsdl:output message="tns:getCustomerAccountsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAccountBalance">
    	<wsdl:input message="tns:getAccountBalanceRequest"></wsdl:input>
    	<wsdl:output message="tns:getAccountBalanceResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JBossBankServicesSOAP" type="tns:JBossBankServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCustomerAccounts">
      <soap:operation soapAction="http://www.example.org/JBossBankServices/getCustomerAccounts"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="getAccountBalance">
      <soap:operation soapAction="http://www.example.org/JBossBankServices/getAccountBalance"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JBossBankServices">
    <wsdl:port binding="tns:JBossBankServicesSOAP" name="JBossBankServicesSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
