sandboxrest/src/main/resources/wsdl/sandbox-ws-1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SubscriberWSService" targetNamespace="http://ws.sandbox.fuse.redhat.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sandbox.fuse.redhat.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://ws.sandbox.fuse.redhat.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://ws.sandbox.fuse.redhat.com/" version="1.0">

  <xs:element name="balance" type="tns:balance"/>

  <xs:element name="getSubcriberBalance" type="tns:getSubcriberBalance"/>

  <xs:element name="getSubcriberBalanceResponse" type="tns:getSubcriberBalanceResponse"/>

  <xs:element name="getSubscriberProfile" type="tns:getSubscriberProfile"/>

  <xs:element name="getSubscriberProfileResponse" type="tns:getSubscriberProfileResponse"/>

  <xs:element name="profile" type="tns:profile"/>

  <xs:complexType name="getSubcriberBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubcriberBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:balance"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriberProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSubscriberProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:profile"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="profileGroup" type="xs:string"/>
      <xs:element minOccurs="0" name="profileNo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getSubcriberBalance">
    <wsdl:part name="parameters" element="tns:getSubcriberBalance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubcriberBalanceResponse">
    <wsdl:part name="parameters" element="tns:getSubcriberBalanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscriberProfileResponse">
    <wsdl:part name="parameters" element="tns:getSubscriberProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubscriberProfile">
    <wsdl:part name="parameters" element="tns:getSubscriberProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SubscriberWS">
    <wsdl:operation name="getSubcriberBalance">
      <wsdl:input name="getSubcriberBalance" message="tns:getSubcriberBalance">
    </wsdl:input>
      <wsdl:output name="getSubcriberBalanceResponse" message="tns:getSubcriberBalanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriberProfile">
      <wsdl:input name="getSubscriberProfile" message="tns:getSubscriberProfile">
    </wsdl:input>
      <wsdl:output name="getSubscriberProfileResponse" message="tns:getSubscriberProfileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriberWSServiceSoapBinding" type="tns:SubscriberWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSubcriberBalance">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSubcriberBalance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubcriberBalanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubscriberProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSubscriberProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSubscriberProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriberWSService">
    <wsdl:port name="SubscriberWSPort" binding="tns:SubscriberWSServiceSoapBinding">
      <soap:address location="http://localhost:9090/SubscriberWSPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
